#{{ message_number }}. ???
========

.. include:: note-discord.rst


Image
-----

This image was produced from the {{ message_number_words }} radio transmission using :doc:`previously contributed code <radio-transmission-recording>`.

.. image:: message{{ message_number }}.png
   :width: {{ image_width }}px


Interpretation
--------------

.. include:: message{{ message_number }}-condensed.txt


Decoded
-------

.. literalinclude:: message{{ message_number }}-decoded.txt
